.container{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   justify-content: center;
}

.subcontainer{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 1rem;
   width: 25rem;
   height: fit-content;
   backdrop-filter: blur(8px) saturate(180%);
   -webkit-backdrop-filter: blur(16px) saturate(180%);
   background-color: rgba(17, 25, 40, 0.75);
   border-radius: 12px;
   border: 1px solid rgba(255, 255, 255, 0.125);
}

.subcontainer form h2{
   text-align: center;
   padding-bottom: 0.5rem;
}

.subcontainer button{
   margin-bottom: 1rem;
}

.link{
   display: flex;
   width: 100%;
   cursor: pointer;
   justify-content: flex-end;
   flex-wrap: wrap;
   align-content: flex-end;
   padding-right: 1rem;
}

.section{
   margin-bottom: 1.5rem;
}

.buttons {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   margin-top: 2rem;
}

.goBack {
   position: fixed;
   left: 0;
   bottom: 0;
   margin-left: 1rem;
   margin-bottom: 1rem;
   background-color: #5EEAD480;
}

.goBack:hover {
   background-color: #5EEAD4;
}

.auth{
   margin-top: 1.5rem;
   display: flex;
   flex-direction: column;
}


@media (max-width: 768px) {
   .goBack {
         position: fixed;
         top: 0;
         bottom: auto;
         margin-top: 1rem;
      }
}