.cards__container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   row-gap: 2rem;
   column-gap: 1rem;
   margin-bottom: 2rem;
   margin-top: 2rem;
}

.empty {
   padding-right: 2rem;
   padding-left: 2rem;
   display: flex;
   margin-bottom: 3rem;
   justify-content: center;
   align-items: center;

   backdrop-filter: blur(8px) saturate(180%);
   -webkit-backdrop-filter: blur(16px) saturate(180%);
   background-color: rgba(17, 25, 40, 0.75);
   border-radius: 12px;
   border: 1px solid rgba(255, 255, 255, 0.125);
}

.skeleton {
   width: 300px !important;
   height: 200px !important;
}

@media (max-width: 768px) {

   .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
      min-height: 30rem;
   }

   .menu {
      width: 100%;
      text-align: center;
   }

   .cards__container {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      margin-bottom: 2rem;
   }

   .paginator {
      padding: 0;
   }

   .paginator button {
      margin: 0;
   }

   .paginator span>button:nth-child(5) {
      display: none;
   }

   .skeleton {
      width: 25rem !important;
      height: 6rem !important;
   }

   .empty {
      margin-bottom: 25rem;
   }

}