.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   justify-content: center;
}

.subcontainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 25rem;
   height: fit-content;
   backdrop-filter: blur(8px) saturate(180%);
   -webkit-backdrop-filter: blur(16px) saturate(180%);
   background-color: rgba(17, 25, 40, 0.75);
   border-radius: 12px;
   border: 1px solid rgba(255, 255, 255, 0.125);
}
.subcontainer h2{
   margin-bottom: 1.5rem;
}

.link {
   display: flex;
   width: 100%;   
   cursor: pointer;
   justify-content: flex-end;
   flex-wrap: wrap;
   align-content: flex-end;
   padding-bottom: 1rem;
   padding-right: 1rem;
}

.section {
   display: flex;
   width: 100%;
   justify-content: center;
   margin-bottom: 1.5rem;
   align-items: center;
}

.goBack {
   position: fixed;
   left: 0;
   bottom: 0;
   margin-left: 1rem;
   margin-bottom: 1rem;
   background-color: #5EEAD480;
}
.goBack:hover {
   background-color: #5EEAD4;
}


@media (max-width: 768px) {
   .goBack {
      position: fixed;
      top: 0;
      bottom: auto;
      margin-top: 1rem;
   }
}
